@import "../../variables.scss";

.game_board {
  display: grid;
  box-sizing: border-box;
  width: 55%;
  aspect-ratio: 1;
  justify-items: center;
  border: 4px solid #fba743;

  @media (max-width: $desktop) {
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: $tablet) {
    border-width: 10px;
  }
}

.game_started {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.game_not-started {
  place-items: center;

  .start_game {
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: rgb(161, 151, 37);
      transform: scale(1.03);
    }

    @media (max-width: $tablet) {
      font-size: 36px;
    }
  }

  .end_game {
    font-size: 36px;
    font-weight: 600;
    color: rgb(161, 151, 37);

    .new_game {
      font-size: 16px;
      color: black;
      font-style: italic;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: rgb(161, 151, 37);
        text-decoration: underline;
        transform: scale(1.03);
      }
    }
  }
}
